<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Entropy Maxima </title>
    <link href="{{ url_for('static', filename='dist/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    {% if session['admin']=='Si' %} 
    <link href="{{ url_for('static', filename='dist/css/dashboard_admin.css') }}" rel="stylesheet">
    {%elif session['admin']=='No' %}
    <link href="{{ url_for('static', filename='dist/css/blog.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/css/dashboard.css') }}" rel="stylesheet">
    {% endif %}
  {% block pagestyles %}
  {% endblock %}
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  {% if session['admin']=='Si' %} 
  {% include 'nav_admin.html' %}
  {%else %}
  {% include 'nav_user.html' %}
  {% endif %}
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <img src="" alt="">
        <span class="admin_name">{{session['nombre']}}</span>
        <i class='bx bx-chevron-down' ></i>
        <ul class="dropdown-menu">
        {% if session['tipo_usuario']=='2' or session['tipo_usuario']=='3'  %} 
        {% if session['admin']=='Si' %}
        <li><a href="{{ url_for('inicio_bp.quitar_admin') }}">Common User</a></li>
        {%else%}
        <li><a href="{{ url_for('inicio_bp.inicio_admin') }}">Admin</a></li>
        {%endif%}
        {% endif %}
        <li><a href="{{ url_for('authorize_bp.logout') }}">Log Out</a></li>
        </ul>
      </div>
    </nav>
    <div class="home-content">
      {% block content %}{% endblock %}
    </div>
  </section>
  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}

const profileDetails = document.querySelector('.profile-details');

profileDetails.addEventListener('click', function() {
  this.classList.toggle('active');
});

 </script>
<script src="{{ url_for('static', filename ='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename ='js/jquery.dataTables.min.js') }}"></script>
  {% block script %}{% endblock %}

</body>
</html>
